
.container{
    width: 75vw;
    background: #101a32;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.1) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
    text-align: left;
}

.containerHidden{
    height: 0;
    width: 0;
    visibility: hidden;
}

#intitule{
    color: #fff;
    font-size: xx-large;
    padding: 10px 20px ;
}

hr{
    width: 98%;
    margin: auto;
    height: 1px;
    background-color: rgb(179, 179, 179);
    border: none;
}

.contenu {
    padding: 20px;
}

#boutonVF{
    width: 20%;
    height: 40px;
    margin-left: 20%;
    margin-bottom: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .container{
        width: 95vw;
    }

    .contenu{
        padding: 5px;
    }
}

label{
    color: #fff;
    font-size:x-large;
}

#boutonCM{
    margin-top: 20px;
    width: 20%;
    height: 40px;
    margin-left: 10px;
}




